.lang {
  display: none;
}
.lang img {
  width: 100%;
  margin: auto;
  display: block;
  box-sizing: border-box;
}
.lang h4 {
  text-align: center;
  text-decoration: underline;
}

.container {
  margin-bottom: 100px;
  margin-top: 50px;
}
.parent {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  }
  
  .div1 { 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .div2 { 
    grid-area: 1 / 2 / 2 / 3;
    padding: 12px 12px;
    /* margin: auto; */
    box-sizing: border-box;
    box-shadow:
    0 1.6px 1.2px rgba(0, 0, 0, 0.063),
    0 3.4px 2.7px rgba(0, 0, 0, 0.093),
    0 5.8px 4.6px rgba(0, 0, 0, 0.115),
    0 8.7px 6.9px rgba(0, 0, 0, 0.133),
    0 12.5px 10px rgba(0, 0, 0, 0.15),
    0 17.7px 14.2px rgba(0, 0, 0, 0.167),
    0 25.1px 20.1px rgba(0, 0, 0, 0.185),
    0 36.5px 29.2px rgba(0, 0, 0, 0.207),
    0 56.3px 45px rgba(0, 0, 0, 0.237),
    0 100px 80px rgba(0, 0, 0, 0.3);
  }
body {
  font-family: 'Comfortaa', cursive;
  /* margin-bottom: 100px; */
}

h1 {
  text-align: center;
}
.container p {
  text-align: center;
}

#language {
  /* width: 100%; */
  padding: 12px 12px;
  margin: auto;
  box-sizing: border-box;
  box-shadow:
  0 1.6px 1.2px rgba(0, 0, 0, 0.063),
  0 3.4px 2.7px rgba(0, 0, 0, 0.093),
  0 5.8px 4.6px rgba(0, 0, 0, 0.115),
  0 8.7px 6.9px rgba(0, 0, 0, 0.133),
  0 12.5px 10px rgba(0, 0, 0, 0.15),
  0 17.7px 14.2px rgba(0, 0, 0, 0.167),
  0 25.1px 20.1px rgba(0, 0, 0, 0.185),
  0 36.5px 29.2px rgba(0, 0, 0, 0.207),
  0 56.3px 45px rgba(0, 0, 0, 0.237),
  0 100px 80px rgba(0, 0, 0, 0.3);
}



